/* ALL */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

h4 {
    padding: 15px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* SIDEBAR */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #242d32;
    color: #bec9cd;
    transition: all 0.3s;
}

#sidebarCollapse {
    margin-top: 20px;
    margin-left: 15px;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 7.5px 20px;
    background: #477ea5;
    color: #f0fdfe;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    background: #2b363c;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #bec9cd;
    background: #323f46;
}

.link-dropdown {
    background: #242d32;
}

/* SIDEBAR DOLJE */

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.hover-plava:hover{
    background-color: #0069d9!important;
}

/* BODY */


.tipka{
    background-color: #477ea5;
    color: white;
}

.tijelo {
    display: inline-block;
    width: 100%;
}

.plavo{
    display: inline-block;
    width: 100%;
    text-align: center;

}

.plava-pozadina {
    background-color: #477ea5;
    display: inline-block;
    width: 100%;
    height: 81.5px;
}

/* INDEX */
.index{
    padding-top: 30vh;
    background-image: url('map.jpg');
    background-size: cover;
    height: 100vh;
}

/* STANJE SKLADISTA / PRETRAGA*/
.tipka-stanje{
    width: 50%;
}
.stanje-s{
    padding-top: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background-image: url('map.jpg');
    height: 100vh;
}

.search-forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 400px;
}

/* UNOS PROIZVODA */
.unos-p {
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background-image: url('map.jpg');
    height: 100vh;
}

.form-container {
    border: 0px solid white;
    padding: 15px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);       
}

/* PROIZVOD */

.tipke-sredina {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* TVRTKE */

@media (min-width: $screen-sm-min) { // this is the 768px breakpoint
    .modal-dialog {
        max-width: 600px;
        width: auto;
    }
}

@media (min-width: $screen-md-min) { // this is the 992px breakpoint
    .modal-dialog { 
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}