{% extends "base.html" %}

{% block content %}

<div class="unos-p">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto mt-5">

            <form class="form-container p-4" action="" method="post">
                <h4 >Korisnik: {{ user.username }} </h4>
                {{ form.csrf_token }}
            <div class="form-group">
                {{ form.old_password.label }}<br>
                {{ form.old_password(size=32, class="form-control", class="form-control", placeholder="******",type="password") }}
                {% for error in form.old_password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div> <!-- form-group// -->
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32, class="form-control", class="form-control", placeholder="******",type="password") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div> <!-- form-group// --> 
            <div class="form-group">
                {{ form.password2.label }}<br>
                {{ form.password2(size=32, class="form-control", class="form-control", placeholder="******", type="password") }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    {{ form.submit(type="submit", class="btn btn-primary", value = "Promjeni lozinku") }}
                </div>
                {{ form.username(value=user.username) }}
            </form>

        </div>
        <div class="col col-lg-2"></div>
    </div>
    
</div>
   
{% endblock %}