{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
	<tr>
        <th>Proizvod</th> 
        <th>Kolicina</th>
        <th>Naziv tvrtke</th>
        <th>OIB</th>
        <th>Datum unosa</th>
        <th>Korisnik</th>
    </tr>
    {% for e in evidencija %}
    <tr>
    	<td><a href="/proizvod/{{e.proizvod.name}}">{{ e.proizvod.name }}</a></td>
    	<td>{{ e.proizvod.kolicina }}</td>
    	<td>{{ e.kupac.name }}</td>
    	<td>{{ e.kupac.oib }}</td>
    	<td>{{ e.datum_unosa.strftime('%B %d %Y - %H:%M:%S') }}</td>
        <td>{{ e.user.username }}</td>
    </tr>
    {% endfor %}
</table> 
{% endblock %}