{% extends "base.html" %}


{% block index %}active{% endblock %}

{% block content %}

	<div class="jumbotron justify-content-center">
    	<h1>Dobrodošli u skladište!</h1>
    	<p>Ovdje možete u nekoliko klikova voditi skladište!</p>
    	{% if current_user.is_anonymous %}
    	<p>Ukoliko niste registrirani to možete učiniti na <a href="{{ url_for('register') }}">OVOM LINKU</a>, ako ste već naš korisnik <a href="{{ url_for('login') }}">PRIJAVITE SE</a>!</p>
    	{% endif %}
    </div>
{% endblock %}