{% extends "base.html" %}

{% block content %}

<!--
<style>
	@media (min-width: 768px) { .container { max-width: 700px; } }	
</style>
-->

<script type="text/javascript">var number =1;</script>
<div id="contentToPdf" class="unos-p">
	
<div class="container">
	
	<div class="card">		

		<div class="card-header">
			<span class="float-left"><span class="float-left"><strong>Dok. broj:</strong> {{id}}x</span><br><strong><span class="float-left">Datum dok.:  </strong> {{ evidencija.datum_unosa.strftime('%B %d %Y - %H:%M:%S') }}
			{% if receipt.status =='storno' %}
				<br><strong>Datum storn.: </strong>{{ receipt.storno_date.strftime('%B %d %Y - %H:%M:%S') }}
			{% endif %}</span>
			
			<span class="float-right"><strong>Status:</strong> {{receipt.status}} <br><strong>Napravio:</strong> {{evidencija.user.username}} {% if receipt.status =='storno' %}
				<br><strong>Stornirao:</strong> {{receipt.stornoUser.username}}
			{% endif %}</span>
		</div>

		<div class="card-body">

			<div class="row mb-4">
				<div class="col-sm-6">
					<h6 class="mb-3">Tvrtka:</h6>
					<div>
					<div>Ime: <strong>{{ evidencija.tvrtka.name }}</strong></div>
					</div>
					<div>OIB: {{ evidencija.tvrtka.oib }}</div>
					<div>Grad: {{ evidencija.tvrtka.grad }}</div>
					<div>Poštanski broj: {{ evidencija.tvrtka.p_broj }}</div>
					<div>Država: {{ evidencija.tvrtka.drzava }}</div>
				</div>

				<div class="col-sm-6">
					<h6 class="mb-3">Skladište:</h6>
					<div>
					<div>Ime: <strong>Marina Rijeka</strong></div>
					</div>
					<div>OIB: 0000000000</div>
					<div>Grad: Rijeka</div>
					<div>Poštanski broj: 51000</div>
					<div>Država: Hrvatska</div>
				</div>
			</div>

			<div class="table-responsive-sm">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="center">#</th>
							<th style=" margin-left: -100px;">Proizvod</th>
							<th>Opis</th>
							<th class="right">Količina</th>
							<th class="right">Novo stanje</th>
						</tr>
					</thead>

					<tbody>						
					{% for evidencija in evidencije %}
						<tr>
							<td class="left"><script type="text/javascript">document.write(number); number+=1;</script></td>
							<td class="left">{{ evidencija.proizvod.name }}</td>
							<td class="left">{{ evidencija.proizvod.opis_proizvoda }}</td>
							<td class="right">{{ evidencija.promijenjena_kolicina }}</td>
							<td class="right">{{ evidencija.trenutna_kolicina }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col-lg-4 col-sm-5">

				</div>				
			</div>
		</div>
	</div>
</div>


<div id="editor"></div>

<button class="btn btn-primary m-2" onclick="window.open('../receipt_pdf/{{id}}')">PDF</button>
{% if evidencija.vrsta_unosa =='unos' %}
            <button class="btn btn-primary m-2" onclick="window.open('{{ url_for('export_receipt_unos', id=id) }}')">Excel - Ulazni račun</button>
{% else %}
			<button class="btn btn-primary m-2" onclick="window.open('{{ url_for('export_receipt_izlaz', id=id) }}')">Excel - Izlazni račun</button>
{% endif %}
{% if receipt.status !='storno' %}
<form  action="" method="post" novalidate="">
          {{ form.csrf_token }}
          {{ form.submit(type="submit", class="btn btn-primary") }}  
          {% for error in form.submit.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}<br>   
  </form>
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% endblock %}