{% extends "base.html" %}

{% block racuni %}active{% endblock %}

{% block content %}

<div class="unos-p">
    <h4><strong>Primke</strong></h4>
    <div class="row justify-content-md-center">
        <form class=" form" action="" method="post" novalidate="" autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="form-inline row justify-content-md-center">
                <div class="form-group autocomplete">
                    {{ form.number(size=32, class="form-control", placeholder="Pronađi račun po broju", id="myInput") }}    
                </div>
                <div class="form-group">
                    {{ form.submit(type="submit", class="btn btn-primary ml-3") }}
                </div>
            </div>
            
            

        </form>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Broj dokumenta</th>
            <th>Ime korisnika</th> 
            <th>Datum</th> 
        </tr>
    {% for receipt in receipts.items %}
    
        <tr>
            <td><a href="/receipt/{{receipt.id}}" class="dekoracija">{{ receipt.id }}</a></td>
            <td>{{ receipt.evidencija.first().user.username }}</td>
            <td>{{ receipt.date.strftime('%d %m %Y - %H:%M:%S') }}</td>
        </tr></a>
    {% endfor %}  
    </table>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
 
<h6>Primke</h6>
            {% for page in receipts.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}
                {% if page %}
                    {% if page != receipts.page %}

                            <a href="{{ url_for('receipts_unosa', page_num=page) }}">{{ page }}</a>
      
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {% endfor %}




{% endblock %}