{% extends "base.html" %}

{% block dobavljaci %}active{% endblock %}

{% block content %}

<div class="unos-p">
    

    <h2 class="mb-4">Popis tvrtki</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="table table-striped">
        <tr>
            <th>Naziv tvrtke</th>
            <th>OIB</th> 
            <th>GRAD</th>
            <th>POŠTANSKI BROJ</th>
            <th>DRŽAVA</th>
        </tr>
    {% for tvrtka in tvrtke %}
        <tr>
            <td>{{ tvrtka.name }}</td>
            <td>{{ tvrtka.oib }}</td> 
            <td>{{ tvrtka.grad }}</td>
            <td>{{ tvrtka.p_broj }}</td>
            <td>{{ tvrtka.drzava }}</td>
        </tr>     
    {% endfor %}

    </table>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="tvrtka-potvrda">
  Dodaj novu tvrtku
</button>
    
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script>
        var form_error = false;
      </script>
      <div class="modal-body">
        <h5>Dodaj Novu Tvrtku</h5>
        <form action="" method="post" novalidate="">
        <div>
        {{ form.hidden_tag() }}
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% if form.name.errors %}
                <script> form_error = true; </script><br>
            {% endif %}
            {% endfor %}

            {{ form.oib.label }}<br>
            {{ form.oib(size=32) }}<br>
            {% for error in form.oib.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% if form.oib.errors %}
                <script> form_error = true; </script><br>
            {% endif %}
            {% endfor %}

            {{ form.grad.label }}<br>
            {{ form.grad(size=32) }}<br>
            {% for error in form.grad.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% if form.grad.errors %}
                <script> form_error = true; </script><br>
            {% endif %}
            {% endfor %}

            {{ form.p_broj.label }}<br>
            {{ form.p_broj(size=32) }}<br>
            {% for error in form.p_broj.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% if form.p_broj.errors %}
                <script> form_error = true; </script><br>
            {% endif %}
            {% endfor %}

            {{ form.drzava.label }}<br>
            {{ form.drzava(size=32) }}<br>
            {% for error in form.drzava.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% if form.drzava.errors %}
                <script> form_error = true; </script><br>
            {% endif %}
            {% endfor %}

        </div>
        <div class="modal-footer">
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    
    </div>
      </div>
     
      
    </div>
  </div>
</div>

<script type="text/javascript">
if (form_error) {
    console.log("form error" + form_error);
    $(document).ready(function () {
   $('#tvrtka-potvrda').click();
});
   
   
}
else{
    console.log("form error" + pot)
}

</script>
{% endblock %}