{% extends "base.html" %}



{% block content %}
<script type="text/javascript">  
    var lista1 = {{ lista|safe }};
    var lista2 = {{ lista2|safe }};
</script>

<div class="unos-p">
   <h2 class="mb-4">Ulaz Robe</h2>
   <div class="container">
     <div class="row justify-content-md-cente">
       <form class="form-inline" action="" novalidate="" autocomplete="off">
                <div class="form-group autocomplete">
                    <input size=32, class="form-control", placeholder="Unesi ime proizvoda", type="text", id="Ime", autocomplete="off"></input>   
                    <input size=32, class="form-control", placeholder="Unesi količinu", type="text", value=1 , id="Kolicina"></input>
                    <input size=32, class="form-control", placeholder="Unesi tvrtku", type="text", id="Tvrtka"></input>
                </div>
                <div class="form-group">
                    <input size=32, class="form-control btn btn-primary", type="button", value="Dodaj Proizvod", onclick="dodaj()"></input> 
                </div>
        </form>
     </div>
     <div class="row">
     
         <table class="table table-striped" id="tablica">
        <tr>
            <th>Proizvod</th>
            <th>Količina</th> 
            <th>Tvrtka</th>
        </tr>
      
    

    </table>
      {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
     </div>
   </div>
  
  <form  action="" method="post" novalidate="">
          {{ form.csrf_token }}
          {{form.listaProizvoda(id="tajnaLista")}}
          {% for error in form.listaProizvoda.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}<br> 
          {{ form.submit(type="submit", class="btn btn-primary") }}  
          {% for error in form.submit.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}<br>   
  </form>
  
    
</div>

<script type="text/javascript">


function autocomplete(inp, arr) {
  /* text field and array of values */
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

autocomplete(document.getElementById("Tvrtka"), lista1);
autocomplete(document.getElementById("Proizvod"), lista2);

</script>

<script type="text/javascript">
  
var lista = [];
var counter=0;

    function dodaj() {
      var listaSve = [];
      if (document.getElementById("Ime").value !== "" && document.getElementById("Kolicina").value !== "" && document.getElementById("Tvrtka").value !== "") {
          listaSve.push(document.getElementById("Ime").value);
          listaSve.push(document.getElementById("Kolicina").value);
          listaSve.push(document.getElementById("Tvrtka").value);
          lista.push(listaSve)

          var tableR = document.createElement("tr");
          for(var k=0; k<3; k++){
            var tableD = document.createElement("td");
            var tableDime = document.createTextNode(listaSve[k]);
            tableD.appendChild(tableDime);
            tableR.appendChild(tableD)
          }
          var button = document.createElement("BUTTON")
          button.setAttribute('id', counter)
          tableR.setAttribute('id', counter)
          button.setAttribute('onclick', 'obrisi(id);')
          
          counter++;
          tableR.appendChild(button)
          var tablica = document.getElementById("tablica");
          tablica.appendChild(tableR);
          ispisi();
          listaJson= JSON.stringify(lista);
          document.getElementById("tajnaLista").value=listaJson;

          $("#Ime").val('');
      }
    }
    function obrisi(id){
      var elem = document.getElementById(id);
      elem.parentNode.removeChild(elem);
      delete lista[id];
      listaJson= JSON.stringify(lista);
      document.getElementById("tajnaLista").value=listaJson;

    }

    function ispisi(){
      for(var i=0; i<lista.length; i++){
        for(var j=0; j<3; j++){
          if (lista[i]!== null){
            console.log(lista[i]);
          }
          
        }
      }
    }
    
</script>
{% endblock %}