{% extends "base.html" %}

{% block unos_proizvoda %}active{% endblock %}

{% block content %}
    <h1>Stvori novi proizvod</h1>
    <form action="" method="post" novalidate="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.kolicina.label }}<br>
            {{ form.kolicina(size=32) }}
            {% for error in form.kolicina.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zemlja_podrijetla.label }}<br>
            {{ form.zemlja_podrijetla(size=32) }}
            {% for error in form.zemlja_podrijetla.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.oib.label }}<br>
            {{ form.oib(size=32) }}
            {% for error in form.oib.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}