{% extends "base.html" %}

{% block unos_proizvoda %}active{% endblock %}

{% block content %}
<div class="unos-p">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">

            <form class="form-container p-4" action="" method="post" novalidate="">
        {{ form.hidden_tag() }}
        <h2>Stvori novi proizvod</h2>
        
            {{ form.name.label }}<br>
            {{ form.name(size=32, class="form-control") }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}<br>
        
            {{ form.opis_proizvoda.label }}<br>
            {{ form.opis_proizvoda(size=300, class="form-control") }}
            {% for error in form.opis_proizvoda.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}<br>
        
            {{ form.kolicina.label }}<br>
            {{ form.kolicina(size=32, class="form-control") }}
            {% for error in form.kolicina.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}<br>
        
            {{ form.zemlja_podrijetla.label }}<br>
            {{ form.zemlja_podrijetla(size=32, class="form-control") }}
            {% for error in form.zemlja_podrijetla.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}<br>
        
            {{ form.oib.label }}<br>
            {{ form.oib(size=32, class="form-control") }}
            {% for error in form.oib.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}<br>
        
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
        </div>
        <div class="col col-lg-2"></div>
    </div>
    
</div>
{% endblock %}